<div class="container mt-2 notification-container">
  <h2 class="text-center">My Notifications</h2>
  <p class="dismiss text-end">
    <button mat-raised-button color="warn" (click)="dismissAll()">
      Dimiss All
    </button>
  </p>
  <div class="card mb-1 notification-card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-10 d-flex align-items-center">
          <img
            src="assets/avatar/default-avartar.jpg"
            class="img-fluid rounded-circle"
            alt="Avatar"
            width="50"
            height="50"
          />
          <div class="ms-2">
            <div class="card-text">
              Jane invited you to join '<b>Familia</b>' group
            </div>
            <div class="card-text">
              <small class="text-body-secondary">Jan 1, 2021 at 12:00 AM</small>
            </div>
          </div>
        </div>
        <div class="col text-end">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menuNotificationMoreItem"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuNotificationMoreItem="matMenu">
            <button mat-menu-item>
              <mat-icon>check</mat-icon>
              <span>Mark as read</span>
            </button>
            <button mat-menu-item>
              <mat-icon>remove</mat-icon>
              <span>Remove this notification</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
