.wrapper {
  width: 100%;
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content-wrapper {
    width: 35%;

    @media screen and (max-width: 991px) {
      width: 55%;
    }

    @media screen and (max-width: 767px) {
      width: 70%;
    }

    @media screen and (max-width: 576px) {
      width: 90%;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .main-title {
        font-size: 2rem;
        font-weight: 400;
        color: #000;
        text-align: center;
        padding: 8px;
      }

      .sub-title {
        margin-top: 12px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
      }
    }

    .form-wrapper {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .btn-submit {
        font-size: 16px;
        min-height: 48px;
        border-radius: 50px;
      }

      .btn-back {
        padding: 8px 16px;
        margin-top: 12px;
        font-size: 16px;
        border-radius: 50px;
        margin-left: -22px;
      }

      .btn-loading {
        background-color: #dcdcdc;
        pointer-events: none;
        font-size: 16px;
        min-height: 48px;
        border-radius: 50px;
      }
    }
  }
}
