<mat-card>
  <mat-card-content>
    <h5 class="widget-title fw-bold">Friends Zone</h5>
    <div class="widget-body">
      <div
        class="like-page-list-wrapper d-flex justify-content-between align-items-center mb-4"
      >
        <div class="profile-thumb d-flex gap-2">
          <img
            src="assets/images/profile/profile-35x35-15.jpg"
            alt="profile picture"
            class="rounded-circle avatar-thumbnail"
          />
          <div class="unorder-list-info">
            <p class="list-title">Ammeya Jakson</p>
            <p class="list-subtitle">10 mutual</p>
          </div>
        </div>
        <div class="page-like">
          <fa-icon
            [icon]="faRegularHeart"
            size="lg"
            style="color: #ff3232"
          ></fa-icon>
        </div>
      </div>
      <div
        class="like-page-list-wrapper d-flex justify-content-between align-items-center"
      >
        <div class="profile-thumb d-flex gap-2">
          <img
            src="assets/images/profile/profile-35x35-18.jpg"
            alt="profile picture"
            class="rounded-circle avatar-thumbnail"
          />
          <div class="unorder-list-info">
            <p class="list-title">Jashon Muri</p>
            <p class="list-subtitle">2 mutual</p>
          </div>
        </div>
        <div class="page-like">
          <fa-icon
            [icon]="faRegularHeart"
            size="lg"
            style="color: #ff3232"
          ></fa-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
