<mat-card>
  <mat-card-content>
    <h5 class="widget-title fw-bold">Friends Zone</h5>
    <div class="widget-body">
      <app-friend-card *ngIf="isLoading" [count]="6"></app-friend-card>
      <div *ngIf="friends.length > 0">
        <div class="like-page-list-wrapper d-flex justify-content-between mb-4" *ngFor="let item of friends">
          <div class="profile-thumb d-flex gap-2">
            <img [src]="item.user.avatar?.imageUrl ? item.user.avatar?.imageUrl : 'assets/avatar/default-avartar.jpg'"
              alt="profile picture" class="rounded-circle avatar-thumbnail" />
            <div class="unorder-list-info">
              <p class="list-title">{{ item.user.firstName }} {{ item.user.lastName }}</p>
              <p class="list-subtitle" [routerLink]="['/profile', item.user.id]">
                <span>View Profile</span>
              </p>
            </div>
          </div>
          <div class="page-like" (click)="handleMessage(item?.user?.id)">
            <fa-icon [icon]="faRegularMessage" size="lg" style="color: #ff3232"></fa-icon>
          </div>
        </div>
      </div>
      <div *ngIf="friends.length == 0 && !isLoading">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-center">No friends found</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>