@media screen and (min-width: 1024px) {
  .w-lg-800 {
    width: 800px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .w-md-600 {
    width: 600px;
  }
}

h2 {
  font-family: "Poppins", sans-serif !important;
}

textarea {
  overflow-y: hidden;
}

.post-media {
  position: relative;

  .post-media-change {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
  }

  &:hover {
    .post-media-change {
      display: block;
      transition: all 0.5s ease-in-out;
    }
  }
}
