<main class="container mt-3">
  <div class="d-flex flex-wrap justify-content-center align-items-center gap-2">
    <div *ngFor="let item of friendRequests; let index = index">
      <div class="card" style="width: 15rem">
        <div class="p-0" [routerLink]="['/profile', item.sender.id]">
          <img
            src="assets/avatar/default-avartar.jpg"
            class="card-img-top"
            alt="Avatar Profile"
          />
        </div>
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center"
        >
          <div class="mb-2">
            <h6>{{ item.sender.firstName }} {{ item.sender.lastName }}</h6>
          </div>
          <button
            mat-raised-button
            color="warn"
            class="w-100 confirm"
            (click)="confirmFriendRequest(item.id)"
          >
            Confirm
          </button>
          <button
            mat-raised-button
            class="w-100 mt-2 remove"
            (click)="removeFriendRequest(item.id)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
