<main class="container mt-3">
  <div class="d-flex flex-wrap justify-content-center align-items-center gap-2">
    <div class="card">
      <div class="card-profile p-0" [routerLink]="['/profile', 10]">
        <div class="card-image">
          <img src="assets/avatar/my-avatar-3.jpg" alt="Avatar Profile" />
        </div>
      </div>
      <div class="card-content d-flex flex-column justify-content-center">
        <div class="p-3">
          <button mat-raised-button color="warn" class="w-100 confirm">
            Confirm
          </button>
          <button mat-raised-button class="w-100 mt-2 remove">Remove</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-profile p-0" [routerLink]="['/profile', 10]">
        <div class="card-image">
          <img src="assets/avatar/my-avatar-4.jpg" alt="Avatar Profile" />
        </div>
      </div>
      <div class="card-content d-flex flex-column justify-content-center">
        <div class="p-3">
          <button mat-raised-button color="warn" class="w-100 confirm">
            Confirm
          </button>
          <button mat-raised-button class="w-100 mt-2 remove">Remove</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-profile p-0" [routerLink]="['/profile', 10]">
        <div class="card-image">
          <img src="assets/avatar/my-avatar.jpg" alt="Avatar Profile" />
        </div>
      </div>
      <div class="card-content d-flex flex-column justify-content-center">
        <div class="p-3">
          <button mat-raised-button color="warn" class="w-100 confirm">
            Confirm
          </button>
          <button mat-raised-button class="w-100 mt-2 remove">Remove</button>
        </div>
      </div>
    </div>
  </div>
</main>
