.nav-about {
  .nav-item {
    &:hover a {
      color: #dc4734 !important;
    }
  }
}

img.profile {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

:host ::ng-deep {
  // Desktop
  @media screen and (min-width: 1024px) {
    .mat-mdc-tab-group {
      flex-direction: row;
    }
    .mat-mdc-tab-header {
      border-bottom: none;
      width: 23%;
    }
    .mat-mdc-tab-body-wrapper {
      margin-left: 2.5em;
    }
    .mat-mdc-tab-header-pagination {
      display: none !important;
    }
    .mat-mdc-tab-labels {
      flex-direction: column;

      .mat-mdc-tab {
        justify-content: flex-start;
      }
    }
    .mat-mdc-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-mdc-tab-body-wrapper {
      flex: 1 1 auto;
    }
  }

  .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
    font-family: "Poppins", sans-serif !important;
  }
}

.social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.info {
  margin-bottom: 1rem;
}

.label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.experience-desc-title {
  padding-bottom: 16px;

  .author {
    font-size: 18px;
    font-weight: 700;
  }
}

.experience-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
