.nav-about {
  .nav-item {
    &:hover a {
      color: #dc4734 !important;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-tab-group {
    flex-direction: row;
  }
  .mat-mdc-tab-header {
    border-bottom: none;
    width: 23%;
  }
  .mat-mdc-tab-body-wrapper {
    margin-left: 2.5em;
  }
  .mat-mdc-tab-header-pagination {
    display: none !important;
  }
  .mat-mdc-tab-labels {
    flex-direction: column;

    .mat-mdc-tab {
      justify-content: flex-start;
    }
  }
  .mat-mdc-ink-bar {
    height: 100%;
    left: 98% !important;
  }
  .mat-mdc-tab-body-wrapper {
    flex: 1 1 auto;
  }
}

.social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.row {
  margin-bottom: 1rem;
}

.label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
