<div class="row justify-content-end">
  <div class="col-lg-9">
    <mat-card class="mb-3">
      <mat-card-content>
        <div class="d-flex justify-content-between align-items-center my-2">
          <div class="page-title-inner">
            <h4 class="page-title">About</h4>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-tab-group color="warn">
  <mat-tab label="About Me">
    <mat-card class="mb-3">
      <mat-card-content>
        <div class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold mb-2">Profile Details</h5>
            <button *ngIf="isCurrentUser" mat-icon-button (click)="openDialogEditProfile()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <mat-divider class="mb-3"></mat-divider>

          <ngx-skeleton-loader *ngIf="contentLoading" count="9" appearance="line" />

          <div *ngIf="!contentLoading">
            <div class="row info">
              <div class="col-lg-3 col-md-4 label">About Me</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.aboutMe }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">First Name</div>
              <div class="col-lg-9 col-md-8">{{ profileData?.firstName }}</div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Last Name</div>
              <div class="col-lg-9 col-md-8">{{ profileData?.lastName }}</div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Female</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.gender ? "Male" : "Female" }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Birthday</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.dateOfBirth | date : "longDate" }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Address</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.address }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Country</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.country }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Phone</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.profile?.phoneNumber }}
              </div>
            </div>

            <div class="row info">
              <div class="col-lg-3 col-md-4 label">Email</div>
              <div class="col-lg-9 col-md-8">
                {{ profileData?.email }}
              </div>
            </div>

            <div class="row info align-items-center">
              <div class="col-lg-3 col-md-4 label">Hobbies</div>
              <div class="col-lg-9 col-md-8">
                <mat-chip-set cdkDropList cdkDropListOrientation="horizontal">
                  <mat-chip *ngFor="let hobby of profileData?.profile?.hobbies">
                    {{ hobby }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3" *ngIf="isCurrentUser">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold mb-2">Change Password</h5>
          </div>

          <mat-divider class="mb-3"></mat-divider>

          <form class="change-password-form" id="change-password-form" [formGroup]="changePasswordForm"
            (ngSubmit)="submit()">
            <div class="input-group mb-3">
              <div class="form-floating">
                <input [type]="hideOldPassword ? 'password' : 'text'" class="form-control" [class.is-invalid]="
                    oldPassword.invalid && oldPassword.touched
                  " id="oldPassword" placeholder="Old Password" autocomplete="off" formControlName="oldPassword" />
                <label for="oldPassword">Old Password</label>
              </div>
              <span class="input-group-text" (click)="toggleOldPasswordVisibility()">
                <mat-icon *ngIf="hideOldPassword">visibility</mat-icon>
                <mat-icon *ngIf="!hideOldPassword">visibility_off</mat-icon>
              </span>
              <div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="invalid-feedback">
                <small *ngIf="oldPassword?.errors?.['required']">
                  Please enter old password
                </small>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control"
                  [class.is-invalid]="password.invalid && password.touched" id="password" placeholder="Password"
                  autocomplete="off" formControlName="password" />
                <label for="password">Password</label>
              </div>
              <span class="input-group-text" (click)="togglePasswordVisibility()">
                <mat-icon *ngIf="hidePassword">visibility</mat-icon>
                <mat-icon *ngIf="!hidePassword">visibility_off</mat-icon>
              </span>
              <div *ngIf="password?.invalid && password?.touched" class="invalid-feedback">
                <small *ngIf="password?.errors?.['required']">
                  Please enter password
                </small>
                <small *ngIf="password?.errors?.['minlength']">
                  Please enter at least 8 characters
                </small>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input [type]="hideConfirm ? 'password' : 'text'" class="form-control" [class.is-invalid]="
                    confirmPassword.invalid && confirmPassword.touched
                  " id="confirm-password" placeholder="Confirm Password" formControlName="confirmPassword"
                  autocomplete="off" />
                <label for="confirm-password">Confirm Password</label>
              </div>
              <span class="input-group-text" (click)="toggleConfirmVisibility()">
                <mat-icon *ngIf="hideConfirm">visibility</mat-icon>
                <mat-icon *ngIf="!hideConfirm">visibility_off</mat-icon>
              </span>
              <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="invalid-feedback">
                <small *ngIf="confirmPassword?.errors?.['required']">
                  Please enter confirm password
                </small>
                <small *ngIf="confirmPassword?.errors?.['mismatch']">
                  Password and confirmation do not match.
                </small>
              </div>
            </div>
            <div class="form-group form-button">
              <button *ngIf="!isLoading" type="submit" mat-raised-button color="warn" class="form-submit">
                Change Password
              </button>
              <button *ngIf="isLoading" type="submit" mat-raised-button class="form-submit" disabled>
                <mat-icon>
                  <mat-spinner color="warn" diameter="18"></mat-spinner>
                </mat-icon>
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Work & Education">
    <mat-card class="mb-3">
      <mat-card-content>
        <div class="experience-desc-title d-flex justify-content-between align-items-center">
          <h6 class="author">Work</h6>

          <button *ngIf="isCurrentUser" mat-icon-button (click)="openDialogExperience('', ExperienceType.WORK)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let experience of workExperiences" class="mb-3">
          <div class="row align-items-start">
            <div class="col-10 col-md-11">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-danger fw-bolder mb-2">
                      {{ experience.startDate | date : "MM/yyyy" }} -
                      {{
                      experience.endDate
                      ? (experience.endDate | date : "MM/yyyy")
                      : "Present"
                      }}
                    </div>
                    <div class="small fw-bolder">
                      {{ experience.companyOrSchoolName }}
                    </div>
                    <div class="small text-muted">
                      {{ experience.positionOrDegree }}
                    </div>
                    <div class="small text-muted">
                      {{ experience.location }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="experience-content">
                    {{ experience.description }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-1">
              <button *ngIf="isCurrentUser" mat-icon-button (click)="
                  openDialogExperience(experience.id, ExperienceType.WORK)
                ">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="workExperiences.length == 0" class="text-center">
          <img src="assets/gif/empty-states-nbg.gif" alt="Empty State" class="img-fluid" width="500" />
        </div>

        <mat-divider class="my-4"></mat-divider>

        <div class="experience-desc-title d-flex justify-content-between align-items-center">
          <h6 class="author">Education</h6>

          <button *ngIf="isCurrentUser" mat-icon-button (click)="openDialogExperience('', ExperienceType.EDUCATION)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let experience of educationExperiences" class="mb-3">
          <div class="row align-items-start">
            <div class="col-10 col-md-11">
              <div class="row align-items-center gx-5">
                <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-danger fw-bolder mb-2">
                      {{ experience.startDate | date : "MM/yyyy" }} -
                      {{
                      experience.endDate
                      ? (experience.endDate | date : "MM/yyyy")
                      : "Present"
                      }}
                    </div>
                    <div class="small fw-bolder">
                      {{ experience.companyOrSchoolName }}
                    </div>
                    <div class="small text-muted">
                      {{ experience.positionOrDegree }}
                    </div>
                    <div class="small text-muted">
                      {{ experience.location }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="experience-content">
                    {{ experience.description }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-1">
              <button *ngIf="isCurrentUser" mat-icon-button (click)="
                  openDialogExperience(experience.id, ExperienceType.EDUCATION)
                ">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="educationExperiences.length == 0" class="text-center">
          <img src="assets/gif/empty-states-nbg.gif" alt="Empty State" class="img-fluid" width="500" />
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Skills">
    <mat-card class="mb-3">
      <mat-card-content>
        <div class="experience-desc-title d-flex justify-content-between align-items-center mb-3">
          <h6 class="author">Skills</h6>

          <button *ngIf="isCurrentUser" mat-icon-button (click)="openDialogSkill('')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let item of profileData?.skills; let index = index">
          <div class="row align-items-center">
            <div class="col-10 d-flex align-items-center">
              <div>
                <h6 class="mb-1">{{ item.skillName }}</h6>
                <p *ngIf="item.certificationName">
                  {{ item.certificationName }}
                </p>
              </div>
            </div>
            <div class="col-2 text-end align-center">
              <button *ngIf="isCurrentUser" mat-icon-button (click)="openDialogSkill(item.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider *ngIf="index !== profileData?.skills?.length! - 1" class="my-3"></mat-divider>
        </div>
        <div *ngIf="profileData?.skills?.length == 0" class="text-center">
          <img src="assets/gif/empty-states-nbg.gif" alt="Empty State" class="img-fluid" width="500" />
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <!-- <mat-tab label="Contact Details">
    <mat-card class="mb-3">
      <mat-card-content> Content 2 </mat-card-content>
    </mat-card>
  </mat-tab> -->
</mat-tab-group>