<mat-card class="mb-4" *ngFor="let _ of range(count)">
  <mat-card-content>
    <div class="fb-item">
      <div class="d-flex align-items-center gap-2">
        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '50px', height: '50px' }">
        </ngx-skeleton-loader>
        <div class="gravatar-title">
          <div>
            <ngx-skeleton-loader [theme]="{
                width: '200px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '5px'
              }"></ngx-skeleton-loader>
          </div>
          <div>
            <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }">
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="second-section-wrapper">
        <div class="wrapper">
          <ngx-skeleton-loader [theme]="{
              width: '80%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '5px'
            }"></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
          <ngx-skeleton-loader [theme]="{
              width: '90%',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '5px'
            }"></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
          <ngx-skeleton-loader [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '300px',
              'margin-bottom': '5px'
            }"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>