<div class="main d-md-flex justify-content-center align-items-center">
  <section class="sign-in">
    <div class="container-login">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img src="assets/images/signin-image.jpg" alt="sign up image" />
          </figure>
          <a
            routerLink="/register"
            class="signup-image-link text-decoration-underline"
          >
            Create an account
          </a>
          <div class="social-login">
            <span class="social-label">Or login with</span>
            <ul class="socials">
              <li>
                <a href="#">
                  <i class="display-flex-center zmdi zmdi-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  <i class="display-flex-center zmdi zmdi-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#">
                  <i class="display-flex-center zmdi zmdi-google"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Sign in</h2>
          <form action="#" method="POST" class="register-form" id="login-form">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
              <label for="password">Password</label>
            </div>
            <div class="form-check mb-3">
              <!-- <mat-checkbox color="primary">Remember me</mat-checkbox> -->
              <input
                class="form-check-input"
                type="checkbox"
                id="remember-me"
              />
              <label class="form-check-label" for="remember-me">
                Remember me
              </label>
            </div>
            <button
              type="button"
              mat-raised-button
              color="warn"
              class="form-submit"
            >
              Log in
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
