<form
  [formGroup]="profileForm"
  (ngSubmit)="onSaveProfile()"
  enctype="multipart/form-data"
>
  <h2 mat-dialog-title class="fw-bold">Edit your profile</h2>
  <mat-dialog-content>
    <div class="w-800 pt-2">
      <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label" for="email">
          Email
        </label>
        <div class="col-md-8 col-lg-9">
          <input
            class="form-control-plaintext"
            readonly
            type="email"
            id="email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label" for="firstName">
          First Name
        </label>
        <div class="col-md-8 col-lg-9">
          <input
            class="form-control"
            [class.is-invalid]="firstName.invalid && firstName.touched"
            type="text"
            id="firstName"
            formControlName="firstName"
          />
          <div
            *ngIf="firstName?.invalid && firstName?.touched"
            class="invalid-feedback col-12"
          >
            <small *ngIf="firstName?.errors?.['required']">
              Please enter first name
            </small>
            <small *ngIf="firstName?.errors?.['specialChars']">
              Please enter a valid first name
            </small>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label" for="lastName">
          Last Name
        </label>
        <div class="col-md-8 col-lg-9">
          <input
            class="form-control"
            [class.is-invalid]="lastName.invalid && lastName.touched"
            type="text"
            id="lastName"
            formControlName="lastName"
          />
          <div
            *ngIf="lastName?.invalid && lastName?.touched"
            class="invalid-feedback col-12"
          >
            <small *ngIf="lastName?.errors?.['required']">
              Please enter last name
            </small>
            <small *ngIf="lastName?.errors?.['specialChars']">
              Please enter a valid last name
            </small>
          </div>
        </div>
      </div>

      <div formGroupName="profile">
        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="aboutMe">
            About Me
          </label>
          <div class="col-md-8 col-lg-9">
            <textarea
              class="form-control"
              id="aboutMe"
              formControlName="aboutMe"
              appTextareaAutoresize
            ></textarea>
          </div>
        </div>

        <fieldset class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label">Gender</label>
          <div class="col-md-8 col-lg-9">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="maleGender"
                formControlName="gender"
                [value]="true"
              />
              <label class="form-check-label" for="maleGender">Male</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                id="femaleGender"
                formControlName="gender"
                [value]="false"
              />
              <label class="form-check-label" for="femaleGender">
                Female
              </label>
            </div>
          </div>
        </fieldset>

        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="birthday">
            Birthday
          </label>
          <div class="col-md-8 col-lg-9">
            <input
              type="date"
              class="form-control"
              [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched"
              id="birthday"
              formControlName="dateOfBirth"
            />
            <div
              *ngIf="dateOfBirth?.invalid && dateOfBirth?.touched"
              class="invalid-feedback col-12"
            >
              <small *ngIf="dateOfBirth?.errors?.['required']">
                Please enter your birthday
              </small>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="address">
            Address
          </label>
          <div class="col-md-8 col-lg-9">
            <input
              class="form-control"
              [class.is-invalid]="address.invalid && address.touched"
              type="text"
              id="address"
              formControlName="address"
            />
            <div
              *ngIf="address?.invalid && address?.touched"
              class="invalid-feedback col-12"
            >
              <small *ngIf="address?.errors?.['required']">
                Please enter your address
              </small>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="phoneNumber">
            Phone number
          </label>
          <div class="col-md-8 col-lg-9">
            <input
              class="form-control"
              type="tel"
              id="phoneNumber"
              formControlName="phoneNumber"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="country">
            Country
          </label>
          <div class="col-md-8 col-lg-9">
            <input
              class="form-control"
              type="text"
              id="country"
              formControlName="country"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-md-4 col-lg-3 col-form-label" for="hobbies">
            Hobbies
          </label>
          <div class="col-md-8 col-lg-9">
            <input
              class="form-control ms-0"
              type="text"
              id="hobbies"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
            <mat-chip-grid #chipGrid aria-label="Enter Hobby">
              <mat-chip-row
                *ngFor="let hobby of hobbies.value"
                (removed)="remove(hobby)"
                [editable]="true"
                (edited)="edit(hobby, $event)"
              >
                {{ hobby }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial type="submit" color="warn">
      Save Changes
    </button>
  </mat-dialog-actions>
</form>
