@media screen and (min-width: 1024px) {
  .w-lg-800 {
    width: 800px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .w-md-600 {
    width: 600px;
  }
}

h2 {
  font-family: "Poppins", sans-serif !important;
}

.form-check-input:checked {
  background-color: #f44336;
  border-color: #f44336;
}

:host ::ng-deep {
  .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
    font-family: "Poppins", sans-serif !important;
  }
}

textarea {
  overflow-y: hidden;
}
