.author {
  cursor: pointer;
}

.profile-banner-small {
  position: relative;
}

.profile-banner-small:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  pointer-events: none;
  border: 10px solid rgba(198, 165, 107, 0.3);
}
