<main class="container mt-2">
  <div class="tile tile-alt" id="messages-main">
    <div class="ms-menu" [class.toggled]="isMenuToggled">
      <div
        class="ms-user p-3 d-flex justify-content-between align-items-center"
      >
        <h3 class="m-0 fw-bold">Message</h3>
        <button mat-icon-button>
          <mat-icon>add_circle </mat-icon>
        </button>
      </div>
      <mat-list id="friend-list">
        <div>
          <mat-list-item *ngFor="let item of messageList">
            <img
              matListItemAvatar
              [src]="item.avatarUrl"
              alt="Avatar Profile"
            />
            <span matListItemTitle class="fw-bold">{{ item.name }}</span>
            <span matListItemLine>{{ item.lastMessage }}</span>
            <span>
              {{ item.lastMessageTime | date : "short" }}
            </span>
          </mat-list-item>
        </div>
      </mat-list>
    </div>

    <div class="ms-body">
      <div class="action-header p-3 clearfix">
        <div
          class="d-block d-md-none float-start"
          id="ms-menu-trigger"
          (click)="toggleMenu()"
        >
          <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div class="float-start d-none d-md-block">
          <img
            src="https://bootdey.com/img/Content/avatar/avatar2.png"
            alt=""
            class="rounded-circle me-1"
            height="45"
            width="45"
          />
          <span class="fw-bold h6">David Parbell</span>
        </div>

        <div class="d-flex justify-content-end gap-1">
          <button mat-icon-button>
            <mat-icon>call</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>video_call</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="messageInfor">
            <mat-icon>infor</mat-icon>
          </button>
          <mat-menu #messageInfor="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div id="message-list">
        <div class="message-feed media">
          <div class="float-start">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt=""
              class="rounded-circle me-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Quisque consequat arcu eget odio cursus, ut tempor arcu
              vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque
              orci. Proin semper sagittis erat, eget condimentum sapien viverra
              et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc
              sed turpis mi. In eu massa a sem pulvinar lobortis.
            </div>
            <small class="mf-date ps-5">20/02/2015 at 09:00 </small>
          </div>
        </div>

        <div class="message-feed right">
          <div class="float-end">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
              alt=""
              class="rounded-circle ms-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed
              turpis mi. In eu massa a sem pulvinar lobortis.
            </div>
            <small class="mf-date pe-5">20/02/2015 at 09:30 </small>
          </div>
        </div>

        <div class="message-feed media">
          <div class="float-start">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt=""
              class="rounded-circle me-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">Etiam ex arcumentum</div>
            <small class="mf-date ps-5">20/02/2015 at 09:33 </small>
          </div>
        </div>

        <div class="message-feed right">
          <div class="float-end">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
              alt=""
              class="rounded-circle ms-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui
              ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus.
              Praesent sed posuere sem. Cum sociis natoque penatibus et magnis
              dis parturient montes,
            </div>
            <small class="mf-date pe-5">20/02/2015 at 10:10 </small>
          </div>
        </div>

        <div class="message-feed media">
          <div class="float-start">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt=""
              class="rounded-circle me-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius.
              Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit
              massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam
              finibus tristique ante, vitae rhoncus sapien volutpat eget
            </div>
            <small class="mf-date ps-5">20/02/2015 at 10:24 </small>
          </div>
        </div>

        <div class="message-feed right">
          <div class="float-end">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
              alt=""
              class="rounded-circle ms-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui
              ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus.
              Praesent sed posuere sem. Cum sociis natoque penatibus et magnis
              dis parturient montes,
            </div>
            <small class="mf-date pe-5">20/02/2015 at 10:10 </small>
          </div>
        </div>

        <div class="message-feed media">
          <div class="float-start">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt=""
              class="rounded-circle me-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius.
              Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit
              massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam
              finibus tristique ante, vitae rhoncus sapien volutpat eget
            </div>
            <small class="mf-date ps-5">20/02/2015 at 10:24 </small>
          </div>
        </div>

        <div class="message-feed right">
          <div class="float-end">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
              alt=""
              class="rounded-circle ms-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui
              ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus.
              Praesent sed posuere sem. Cum sociis natoque penatibus et magnis
              dis parturient montes,
            </div>
            <small class="mf-date pe-5">20/02/2015 at 10:10 </small>
          </div>
        </div>

        <div class="message-feed media">
          <div class="float-start">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar1.png"
              alt=""
              class="rounded-circle me-1"
              height="45"
              width="45"
            />
          </div>
          <div class="media-body">
            <div class="mf-content">
              Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius.
              Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit
              massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam
              finibus tristique ante, vitae rhoncus sapien volutpat eget
            </div>
            <small class="mf-date ps-5">20/02/2015 at 10:24 </small>
          </div>
        </div>
      </div>

      <div class="msb-reply p-2">
        <button mat-icon-button>
          <mat-icon>add_reaction</mat-icon>
        </button>
        <input placeholder="What's on your mind..." />
        <button mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</main>
