$color_1: #767676;
$color_2: #fff;
$color_3: #b3b3b3;
$color_4: #2196f3;
$color_5: #939393;
$color_main: #f44336;
$font-family_1: Roboto, sans-serif;
$background-color_1: #edecec;

#messages-main {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:after {
    content: " ";
    display: table;
  }
  &:before {
    content: " ";
    display: table;
  }
  .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #eee;
    padding-bottom: 50px;
    height: 100%;
    width: 300px;
    background: #fff;
  }
  #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
}
#ms-menu-trigger.toggled {
  i {
    &:before {
      content: "\f2ea";
    }
  }
}

.message-feed {
  padding: 20px;

  &:not(.right) {
    .mf-content {
      background: $color_main;
      color: $color_2;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
.message-feed.right {
  .mf-content {
    background: #eee;
    text-align: left;
  }
  text-align: right;
}
.mf-content {
  padding: 12px 17px 13px;
  border-radius: 2px;
  display: inline-block;
  max-width: 80%;
  border-radius: 5px;
}
.mf-date {
  display: block;
  color: $color_3;
  margin-top: 7px;
  > .mat-icon {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 12px;
  }
}
.msb-reply {
  display: flex;
  align-items: center;
  box-shadow: 0 -20px 20px -5px #fff;
  position: relative;
  border-top: 1px solid #eee;
  background: #f8f8f8;

  input {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 10px 15px;
    resize: none;

    &:focus {
      outline: 0;
    }
  }

  button {
    color: $color_main;
    &:hover {
      background: #f2f2f2;
    }
  }
}

.action-header {
  background: #f8f8f8;
}

.ms-body {
  background: #fff;
}

.ms-user {
  background: #f8f8f8;
}

#message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

#friend-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 82vh;
}

@media (min-width: 768px) {
  #messages-main {
    .ms-body {
      padding-left: 300px;
    }
  }
}
@media (max-width: 767px) {
  main {
    padding: 0;

    #messages-main {
      .ms-menu {
        height: calc(100% - 65px);
        display: none;
        z-index: 1;
        top: 65px;
      }
      .ms-menu.toggled {
        display: block;
      }
      .ms-body {
        overflow: hidden;
      }

      #friend-list {
        height: 75vh;
      }
    }
  }
}
