<main class="container mt-2">
  <div class="tile tile-alt" id="messages-main">
    <div class="ms-menu" [class.toggled]="isMenuToggled">
      <div
        class="ms-user p-3 d-flex justify-content-between align-items-center"
      >
        <h3 class="m-0 fw-bold">Message</h3>
        <button mat-icon-button>
          <mat-icon>add_circle </mat-icon>
        </button>
      </div>
      <mat-list id="friend-list">
        <div>
          <mat-list-item
            *ngFor="let item of messageList"
            (click)="handleChat(item.id)"
          >
            <img
              matListItemAvatar
              [src]="
                item.avatarUrl
                  ? item.avatarUrl
                  : 'assets/avatar/default-avartar.jpg'
              "
              alt="Avatar Profile"
            />
            <span matListItemTitle class="fw-bold">
              {{ item.name }}
              <span
                class="ms-2 unread-indicator"
                *ngIf="item.unreadCount.length > 0"
              ></span>
            </span>
            <span matListItemLine class="ms-1">{{ item.lastMessage }}</span>
            <span matListItemLine>
              {{ item.lastMessageTime | date : "short" }}
            </span>
          </mat-list-item>
        </div>
      </mat-list>
    </div>

    <app-chat
      (toggle)="toggleMenu()"
      (markAsRead)="loadConversations()"
      [conversationId]="conversationId"
    ></app-chat>
  </div>
</main>
