$color_1: #767676;
$color_2: #fff;
$color_3: #b3b3b3;
$color_4: #2196f3;
$color_5: #939393;
$font-family_1: Roboto, sans-serif;
$background-color_1: #edecec;

#messages-main {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:after {
    content: " ";
    display: table;
  }
  &:before {
    content: " ";
    display: table;
  }
  .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #eee;
    padding-bottom: 50px;
    height: 100%;
    width: 300px;
    background: #fff;
  }
  #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
}
#ms-menu-trigger {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding-right: 10px;
  padding-top: 19px;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  padding-right: 10px;
  padding-top: 19px;
  cursor: pointer;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  i {
    font-size: 21px;
  }
}
#ms-menu-trigger.toggled {
  i {
    &:before {
      content: "\f2ea";
    }
  }
}

.message-feed {
  padding: 20px;
  &:not(.right) {
    .mf-content {
      background: #f44336;
      color: $color_2;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
.message-feed.right {
  .mf-content {
    background: #eee;
  }
  text-align: right;
}
.mf-content {
  padding: 12px 17px 13px;
  border-radius: 2px;
  display: inline-block;
  max-width: 80%;
}
.mf-date {
  display: block;
  color: $color_3;
  margin-top: 7px;
  > .mat-icon {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 12px;
  }
}
.msb-reply {
  box-shadow: 0 -20px 20px -5px #fff;
  position: relative;
  margin-top: 30px;
  border-top: 1px solid #eee;
  background: #f8f8f8;
  textarea {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 10px 15px;
    resize: none;
    height: 60px;
    background: 0 0;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    color: $color_4;
    background: 0 0;
    &:hover {
      background: #f2f2f2;
    }
  }
}

.action-header {
  position: relative;
  background: #f8f8f8;
  padding: 15px 13px 15px 17px;
}
.ah-actions {
  z-index: 3;
  float: right;
  margin-top: 7px;
  position: relative;
}
.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline-block;
    > a {
      > i {
        font-size: 20px;
      }
      display: block;
      padding: 0 10px;
    }
  }
  &:not(.a-alt) {
    > li {
      > a {
        > i {
          color: $color_5;
        }
      }
    }
  }
}
.ms-body {
  background: #fff;
}

@media (min-width: 768px) {
  #messages-main {
    .ms-body {
      padding-left: 300px;
    }
  }
}
@media (max-width: 767px) {
  #messages-main {
    .ms-menu {
      height: calc(100% - 58px);
      display: none;
      z-index: 1;
      top: 58px;
    }
    .ms-menu.toggled {
      display: block;
    }
    .ms-body {
      overflow: hidden;
    }
  }
}
