<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title class="fw-bold">View comment</h2>
  <div mat-dialog-close>
    <button mat-icon-button matTooltip="Close" class="btn-close me-3" aria-label="Close"></button>
  </div>
</div>
<mat-dialog-content>
  <div class="row" *ngIf="post">
    <div class="col-12 col-lg-6 col-xl-8">
      <div id="carouselExampleIndicators" class="carousel slide bg-dark">
        <div class="carousel-indicators">
          <button type="button" *ngFor="let item of post?.lstMedia; let i = index"
            data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i == 0"
            aria-current="true" [attr.aria-label]="'Slide ' + (i+1)"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of post?.lstMedia; let i = index" [class.active]="i == 0">
            <div class="wrapper">
              <img *ngIf="!item.isVideo" [src]="item.mediaUrl" class="img-fluid" alt="Post Media" />
              <app-video-player *ngIf="item.isVideo" [videoUrl]="item.mediaUrl" class="video-fluid"></app-video-player>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mt-5 mt-lg-0">
      <div id="comments">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex gap-2 align-items-center">
            <div class="profile-thumb">
              <div class="author" [routerLink]="['/profile', post.user.id]">
                <img [src]="
                                  post.user.avatar?.imageUrl
                                    ? post.user.avatar?.imageUrl
                                    : 'assets/avatar/default-avartar.jpg'
                                " alt="profile picture" class="rounded-circle avatar-post" />
              </div>
            </div>

            <div class="ms-2">
              <h6 class="fw-bold author mb-1" [routerLink]="['/profile', post.user.id]">
                {{ post.user.firstName }} {{ post.user.lastName }}
              </h6>
              <span class="post-time">
                <!-- {{ post.createdAt | date : "short" }} -->
                {{ formatDistanceToNow(post.createdAt) }}
              </span>
            </div>
          </div>

          <button mat-icon-button [matMenuTriggerFor]="menuPostSettings">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuPostSettings="matMenu">
            <button mat-menu-item>
              <mat-icon>bookmark</mat-icon>
              <span>Save post</span>
            </button>
            <button mat-menu-item>
              <mat-icon>cancel_presentation</mat-icon>
              <span>Hide post</span>
            </button>
            <button mat-menu-item>
              <mat-icon>disabled_visible</mat-icon>
              <span>Unfollow pagename</span>
            </button>
            <button mat-menu-item>
              <mat-icon>report</mat-icon>
              <span>Report post</span>
            </button>
          </mat-menu>
        </div>
        <div class="mt-2">
          <p class="post-desc">
            {{ post.content }}
          </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="post-meta-like">
            <fa-icon *ngIf="!isLikedPost()" [icon]="faRegularHeart" size="lg" style="color: #ff3232"
              (click)="likePost()"></fa-icon>
            <fa-icon *ngIf="isLikedPost()" [icon]="faSolidHeart" size="lg" style="color: #ff3232"
              (click)="likePost()"></fa-icon>
            <span>
              {{ post.lstLikes.length }}
            </span>
            <span class="d-none d-lg-block ps-1">people</span>
          </div>
          <div class="post-comment">
            <fa-icon [icon]="faRegularComments"></fa-icon>
            <span>
              {{ post.lstComments.length }}
            </span>
            <span class="d-none d-lg-block ps-1">comments</span>
          </div>
        </div>
        <mat-divider class="my-3"></mat-divider>
        <div class="d-flex gap-2 mb-3" *ngFor="let item of post?.lstComments">
          <div class="avatar">
            <img [src]="
                        item.user.avatar?.imageUrl
                          ? item.user.avatar?.imageUrl
                          : 'assets/avatar/default-avartar.jpg'
                      " class="rounded-circle" alt="User Image">
          </div>
          <div class="w-100">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title mb-0">{{ item.user.firstName }} {{ item.user.lastName }}</h6>
                <p class="card-text">{{ item.content }}</p>
              </div>
            </div>
            <div class="d-flex gap-3">
              <span class="post-time">
                <!-- {{ item.createdAt | date : "short" }} -->
                {{ formatDistanceToNow(item.createdAt) }}
              </span>
              <div class="post-meta-like">
                <fa-icon *ngIf="!isLikedComment(item)" [icon]="faRegularHeart" size="sm" style="color: #ff3232"
                  (click)="likeComment(item)"></fa-icon>
                <fa-icon *ngIf="isLikedComment(item)" [icon]="faSolidHeart" size="sm" style="color: #ff3232"
                  (click)="likeComment(item)"></fa-icon>
                <span class="ps-1">
                  {{ item.lstLikeComments.length }}
                </span>
              </div>
              <span class="reply-comment" (click)="addReply(item)">
                Reply
              </span>
            </div>
            <div class="d-flex gap-2 mt-3" *ngFor="let reply of item?.lstReplyComments">
              <div class="avatar">
                <img [src]="
                                    reply.user.avatar?.imageUrl
                                      ? reply.user.avatar?.imageUrl
                                      : 'assets/avatar/default-avartar.jpg'
                                  " class="rounded-circle" alt="User Image">
              </div>
              <div class="w-100">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title mb-0">{{ reply.user.firstName }} {{ reply.user.lastName }}</h6>
                    <p class="card-text">{{ reply.content }}</p>
                  </div>
                </div>
                <div class="d-flex gap-3">
                  <span class="post-time">
                    <!-- {{ reply.createdAt | date : "short" }} -->
                    {{ formatDistanceToNow(reply.createdAt) }}
                  </span>
                  <!-- <span class="reply-comment">
                    Reply
                  </span> -->
                </div>
              </div>
            </div>
            <form *ngIf="replyCommentForm && item.id == replyCommentForm.value.commentId"
              class="msb-reply-comment p-2 mt-2" [formGroup]="replyCommentForm" (ngSubmit)="submitReply(item.id)">
              <input placeholder="Comment here" formControlName="content" />
              <button mat-icon-button type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
      <form class="msb-reply p-2" [formGroup]="commentForm" (ngSubmit)="submit()">
        <input placeholder="Comment here" formControlName="content" />
        <button mat-icon-button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</mat-dialog-content>