.top-search-box {
  min-width: 250px;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.top-search-field {
  border: none;
  width: 100%;
  font-size: 14px;
  padding-right: 30px;
  background-color: transparent;

  &::placeholder {
    color: #fff;
  }

  &:focus {
    outline: none;
    color: #fff;
  }
}

.top-search-btn {
  top: -5px;
  right: 0;
  font-size: 20px;
  position: absolute;
}
