<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <span class="main-title">Forgot password?</span>
      <span class="sub-title"
        >Don't worry. We'll send you reset instructions</span
      >
    </div>
    <div class="form-wrapper">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="name@example.com"
          />
          <label for="email">Email address</label>
        </div>
        <button
          *ngIf="!isSaving"
          type="submit"
          mat-flat-button
          extended
          color="warn"
          class="btn-submit w-100"
        >
          Reset password
        </button>
        <button
          *ngIf="isSaving"
          type="button"
          mat-flat-button
          extended
          color="disable"
          class="btn-loading w-100"
        >
          <mat-icon>
            <mat-spinner color="white" diameter="18"></mat-spinner>
          </mat-icon>
        </button>
        <div class="w-100 text-center">
          <button
            mat-button
            class="btn-back text-secondary"
            routerLink="/login"
          >
            <mat-icon>arrow_back</mat-icon>
            Back to login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
