/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import url("../src/assets/scss/main.scss");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242a30;
}

.avatar-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.page-like {
  fa-icon {
    cursor: pointer;
  }
}
