<main class="container mt-4">
  <h5 class="fw-bold mb-2">Friend request</h5>
  <div class="d-flex flex-wrap gap-2">
    <div *ngFor="let item of friendRequests; let index = index">
      <div class="card" style="width: 13rem">
        <div class="p-0" [routerLink]="['/profile', item.sender.id]">
          <img
            src="assets/avatar/default-avartar.jpg"
            class="card-img-top"
            alt="Avatar Profile"
          />
        </div>
        <div class="card-body">
          <div class="mb-2 text-center">
            <h6>{{ item.sender.firstName }} {{ item.sender.lastName }}</h6>
          </div>
          <button
            mat-raised-button
            color="warn"
            class="w-100 confirm"
            (click)="confirmFriendRequest(item.id)"
          >
            Confirm
          </button>
          <button
            mat-raised-button
            class="w-100 mt-2 remove"
            (click)="removeFriendRequest(item.id)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <app-user-card *ngIf="isLoadingRequest" [count]="12"></app-user-card>
  </div>
  <div
    *ngIf="!isLoadingRequest && friendRequests.length == 0"
    class="text-center"
  >
    <img
      src="assets/images/gif/empty-states-nbg.gif"
      alt="Empty State"
      class="img-fluid"
      width="500"
    />
  </div>
</main>
