<div class="row justify-content-end">
  <div class="col-lg-9">
    <mat-card class="mb-4">
      <mat-card-content>
        <div class="d-flex justify-content-between align-items-center my-2">
          <div class="page-title-inner">
            <h4 class="page-title">photos (120)</h4>
          </div>
          <nav class="d-flex gap-5 nav-about">
            <div class="nav-item">All</div>
            <div class="nav-item">Timeline</div>
            <div class="nav-item">Upload</div>
            <div class="nav-item">Folder</div>
          </nav>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
