/* ----scroll to top css start ----*/
.scroll-top {
  bottom: 20px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 9999;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-color: #dc4734;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 768px) {
  .scroll-top {
    display: none;
  }
}

.scroll-top fa-icon {
  margin-top: 15px;
  line-height: 50px;
  color: #fff;
}

.scroll-top.not-visible {
  bottom: -50px;
  visibility: hidden;
  opacity: 0;
}

.scroll-top:hover {
  background-color: #333333;
}

.widget-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
