<div class="main d-md-flex justify-content-center align-items-center">
  <section class="signup">
    <div class="container-register">
      <div class="signup-content gap-5 gap-md-0">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <form
            class="register-form"
            id="register-form"
            [formGroup]="registrationForm"
            (ngSubmit)="submit()"
          >
            <div class="row mb-3">
              <div class="col-12 col-lg-6 mb-3 mb-lg-0 pe-lg-2">
                <div class="form-floating">
                  <input
                    type="first-name"
                    class="form-control"
                    [class.is-invalid]="firstName.invalid && firstName.touched"
                    id="first-name"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                  <label for="first-name">First Name</label>
                  <div
                    *ngIf="firstName?.invalid && firstName?.touched"
                    class="invalid-feedback"
                  >
                    <small *ngIf="firstName?.errors?.['required']">
                      Please enter first name address
                    </small>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-6 ps-lg-2">
                <div class="form-floating">
                  <input
                    type="last-name"
                    class="form-control"
                    [class.is-invalid]="lastName.invalid && lastName.touched"
                    id="last-name"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                  <label for="last-name">Last Name</label>
                  <div
                    *ngIf="lastName?.invalid && lastName?.touched"
                    class="invalid-feedback"
                  >
                    <small *ngIf="lastName?.errors?.['required']">
                      Please enter last name address
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                [class.is-invalid]="email.invalid && email.touched"
                id="email"
                placeholder="name@example.com"
                formControlName="email"
              />
              <label for="email">Email address</label>
              <div
                *ngIf="email?.invalid && email?.touched"
                class="invalid-feedback"
              >
                <small *ngIf="email?.errors?.['required']">
                  Please enter email address
                </small>
                <small *ngIf="email?.errors?.['email']">
                  Please enter a valid email address
                </small>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  [type]="hidePassword ? 'password' : 'text'"
                  class="form-control"
                  [class.is-invalid]="password.invalid && password.touched"
                  id="password"
                  placeholder="Password"
                  autocomplete="off"
                  formControlName="password"
                />
                <label for="password">Password</label>
              </div>
              <span
                class="input-group-text"
                (click)="togglePasswordVisibility()"
              >
                <mat-icon *ngIf="hidePassword">visibility</mat-icon>
                <mat-icon *ngIf="!hidePassword">visibility_off</mat-icon>
              </span>
              <div
                *ngIf="password?.invalid && password?.touched"
                class="invalid-feedback"
              >
                <small *ngIf="password?.errors?.['required']">
                  Please enter password
                </small>
                <small *ngIf="password?.errors?.['minlength']">
                  Please enter at least 8 characters
                </small>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="form-floating">
                <input
                  [type]="hideConfirm ? 'password' : 'text'"
                  class="form-control"
                  [class.is-invalid]="
                    confirmPassword.invalid && confirmPassword.touched
                  "
                  id="confirm-password"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                  autocomplete="off"
                />
                <label for="confirm-password">Confirm Password</label>
              </div>
              <span
                class="input-group-text"
                (click)="toggleConfirmVisibility()"
              >
                <mat-icon *ngIf="hideConfirm">visibility</mat-icon>
                <mat-icon *ngIf="!hideConfirm">visibility_off</mat-icon>
              </span>
              <div
                *ngIf="confirmPassword?.invalid && confirmPassword?.touched"
                class="invalid-feedback"
              >
                <small *ngIf="confirmPassword?.errors?.['required']">
                  Please enter confirm password
                </small>
                <small *ngIf="confirmPassword?.errors?.['mismatch']">
                  Password and confirmation do not match.
                </small>
              </div>
            </div>
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="agree-term"
                formControlName="agreeTerm"
              />
              <label class="form-check-label" for="agree-term">
                I agree all statements in
                <a href="#" class="term-service">Terms of service</a>
              </label>
            </div>
            <div class="form-group form-button">
              <button
                *ngIf="!isLoading"
                type="submit"
                mat-raised-button
                color="warn"
                class="form-submit"
              >
                Sign up
              </button>
              <button
                *ngIf="isLoading"
                type="submit"
                mat-raised-button
                class="form-submit"
                disabled
              >
                <mat-icon>
                  <mat-spinner color="warn" diameter="18"></mat-spinner>
                </mat-icon>
              </button>
            </div>
          </form>
        </div>
        <div class="signup-image mb-3">
          <figure class="text-center">
            <img src="assets/images/signup-image.jpg" alt="sign up image" />
          </figure>
          <a
            routerLink="/login"
            class="signup-image-link text-decoration-underline"
          >
            I am already a member
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
