<div class="ms-body" *ngIf="conversationId">
  <div class="action-header p-3 clearfix">
    <div class="d-block d-md-none float-start" id="ms-menu-trigger" (click)="toggleMenu()">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="float-start d-none d-md-block" style="cursor: pointer" [routerLink]="['/profile', friendInfo?.id]">
      <img [src]="
          friendInfo?.avatar?.imageUrl
            ? friendInfo?.avatar?.imageUrl
            : 'assets/avatar/default-avartar.jpg'
        " alt="" class="rounded-circle me-1" height="45" width="45" />
      <span class="fw-bold h6">
        {{ friendInfo?.firstName }} {{ friendInfo?.lastName }}
      </span>
    </div>

    <div class="d-flex justify-content-end gap-1">
      <button mat-icon-button>
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>video_call</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="messageInfor">
        <mat-icon>infor</mat-icon>
      </button>
      <mat-menu #messageInfor="matMenu">
        <button mat-menu-item>
          <mat-icon>archive</mat-icon>
          <span>Archive</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div id="message-list" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let item of listMessages" class="message-feed" [class.media]="item?.sender?.id !== currentUser?.id"
      [class.right]="item?.sender?.id === currentUser?.id">
      <div *ngIf="item.content !== ''">
        <div [class.float-start]="item?.sender?.id !== currentUser?.id"
          [class.float-end]="item?.sender?.id === currentUser?.id">
          <img
            [src]="item?.sender?.avatar?.imageUrl ? item?.sender?.avatar?.imageUrl : 'assets/avatar/default-avartar.jpg'"
            alt="" class="rounded-circle" [class.me-1]="item?.sender?.id !== currentUser?.id"
            [class.ms-1]="item?.sender?.id === currentUser?.id" height="45" width="45" />
        </div>
        <div class="media-body">
          <div class="mf-content" [title]="
              (item.createdAt | date : 'MM/dd/yyyy') +
              ' at ' +
              (item.createdAt | date : 'HH:mm')
            ">
            {{ item.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="msb-reply p-2" [formGroup]="chatForm" (ngSubmit)="submit()">
    <button mat-icon-button (click)="changeEmojiPickerState()">
      <mat-icon>add_reaction</mat-icon>
    </button>
    <emoji-mart *ngIf="isOpenEmojiPicker" title="Pick your emoji…" set="google"
      [style]="{ position: 'absolute', bottom: '75px', left: '10px' }" (emojiClick)="addEmoji($event)"
      emoji="thumbsup"></emoji-mart>
    <!-- Hidden file input -->
    <input type="file" id="file-upload" multiple (change)="onFileSelected($event)" #fileInput>
    <button mat-icon-button (click)="triggerFileInput(fileInput)">
      <mat-icon>attachment</mat-icon>
    </button>
    <div [style]="{ position: 'absolute', bottom: '75px', left: '105px' }" class="send-file">
      <figure class="figure send-media ms-2">
        <img src="assets/images/books/book-1.jpg" class="figure-img img-fluid" alt="item-file-name" />
        <div class="send-media-change">
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <figure class="figure send-media ms-2">
        <img src="assets/images/banner/advertise.jpg" class="figure-img img-fluid" alt="item-file-name" />
        <div class="send-media-change">
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <figure class="figure send-media">
        <a class="file-icon word" href="assets/files/word.docx"></a>
        <div class="send-media-change">
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <figure class="figure send-media">
        <a class="file-icon pdf" href="assets/files/pdf.pdf"></a>
        <div class="send-media-change">
          <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
    </div>
    <input placeholder="What's on your mind..." formControlName="message" />
    <button mat-icon-button type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>

<div class="ms-body d-flex justify-content-center align-items-center" style="height: 90vh" *ngIf="!conversationId">
  <div class="text-center" *ngIf="!isLoading">
    <h3 class="fw-bold">Select a message</h3>
    <p>Select an existing conversation, start a new one, or keep exploring.</p>
    <button mat-raised-button color="warn" class="mt-2" (click)="newMessage()">New message</button>
  </div>
  <div class="text-center" *ngIf="isLoading">
    <mat-progress-spinner class="example-margin" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>