<div class="d-flex flex-wrap gap-2">
  <div *ngFor="let _ of range(count)">
    <div class="card" style="width: 13rem">
      <div class="p-0 text-center">
        <ngx-skeleton-loader
          count="1"
          appearance="circle"
          [theme]="{
            width: '150px',
            height: '150px',
          }"
        >
        </ngx-skeleton-loader>
      </div>
      <div class="card-body">
        <div>
          <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
        </div>
        <ngx-skeleton-loader
          count="1"
          [theme]="{ height: '35px' }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
